src/refit-example/refit-example/bin/
src/refit-example/refit-example/obj/Debug/net8.0/refit-example.AssemblyInfoInputs.cache
src/refit-example/refit-example/obj/
src/refit-example/refitwebapi/bin/
src/refit-example/refitwebapi/obj/
src/refit-example/.vs/
